@charset "UTF-8";
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* 闭合浮动 */
.clearfix:after {
  clear: both;
}

.site-topbar {
  height: 40px;
  background-color: #333;
  color: #b0b0b0;
  position: relative;
  font-size: 12px;
}

.site-topbar a {
  position: relative;
  text-decoration: none;
  color: #b0b0b0;
  display: inline-block;
}

.site-topbar a span.box {
  width: 124px;
  position: absolute;
  top: 40px;
  left: 50%;
  padding: 18px 0px 14px;
  background: white;
  margin-left: -55px;
  box-shadow: #aaaaaa 0px 1px 5px;
  display: none;
  z-index: 999;
}

.site-topbar a span.box em {
  width: 0;
  height: 0;
  border-width: 0 10px 10px;
  border-style: solid;
  border-color: transparent transparent #fff;
  position: absolute;
  top: -10px;
  left: 50px;
}

.site-topbar a span.box img {
  display: block;
  margin: 0 auto;
}

.site-topbar a span.box span {
  display: block;
  text-align: center;
  font-size: 14px;
  color: #333;
  line-height: 1;
  margin-top: 14px;
}

.site-topbar a:hover {
  color: #ffffff;
}

.site-topbar a:hover span.box {
  display: block;
}

.site-topbar .container .topbar-nav {
  float: left;
  height: 40px;
  line-height: 40px;
}

.site-topbar .container .sep {
  margin: 0 .5em;
  color: #424242;
}

.site-topbar .container .topbar-cart,
.site-topbar .container .topbar-info {
  position: relative;
  height: 40px;
  line-height: 40px;
  float: right;
}

.site-topbar .container .topbar-cart {
  width: 120px;
  margin-left: 15px;
}

.site-topbar .container .topbar-cart .cart-mini {
  position: relative;
  display: block;
  text-align: center;
}

.site-header {
  height: 100px;
  position: relative;
}

.site-header .container .header-logo {
  float: left;
  width: 62px;
  margin-top: 22px;
}

.site-header .container .header-logo .logo {
  position: relative;
  display: block;
  width: 55px;
  height: 55px;
  overflow: hidden;
  background-color: #ff6700;
}

.site-header .container .header-logo .logo::before {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 55px;
  height: 55px;
  content: '';
  background: url(../image/mi-logo.png) no-repeat 50% 50%;
}

.site-header .container .header-logo .ir {
  display: block;
  text-align: left;
  text-indent: -9999em;
  overflow: hidden;
  _zoom: 1;
}

.site-header .container .header-nav {
  width: 850px;
  float: left;
}

.site-header .container .header-nav .nav-list {
  list-style: none;
  float: left;
  height: 88px;
  padding: 12px 0 0 130px;
  font-size: 16px;
  margin: 0;
}

.site-header .container .header-nav .nav-list:hover .nav-item .item-children {
  height: 229px;
}

.site-header .container .header-nav .nav-list .nav-item {
  float: left;
}

.site-header .container .header-nav .nav-list .nav-item .link {
  display: block;
  padding: 26px 10px 38px;
  color: #333;
}

.site-header .container .header-nav .nav-list .nav-item .item-children {
  overflow: hidden;
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  height: 0;
  border-top: 1px solid #e0e0e0;
  transition: height .6s;
  z-index: 24;
  background-color: #fff;
}

.site-header .container .header-nav .nav-list .nav-item .item-children .container .children-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 12px;
}

.site-header .container .header-nav .nav-list .nav-item .item-children .container .children-list li {
  position: relative;
  float: left;
  width: 180px;
  padding: 35px 12px 0;
  text-align: center;
}

.site-header .container .header-nav .nav-list .nav-item .item-children .container .children-list li .figure-thumb {
  width: 160px;
  height: 110px;
  margin: 0 auto 16px;
  text-align: center;
}

.site-header .container .header-nav .nav-list .nav-item .item-children .container .children-list li .title {
  margin: 0;
  line-height: 20px;
  color: #333;
}

.site-header .container .header-nav .nav-list .nav-item .item-children .container .children-list li .title a {
  color: inherit;
}

.site-header .container .header-nav .nav-list .nav-item .item-children .container .children-list li .price {
  margin: 0;
  line-height: 20px;
  color: #ff6700;
}

.site-header .container .header-nav .nav-list .nav-item .item-children .container .children-list li .flags {
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  font-size: 12px;
  text-align: center;
}

.site-header .container .header-nav .nav-list .nav-item .item-children .container .children-list li .flags .flag {
  display: inline-block;
  height: 18px;
  padding: 1px 20px;
  border: 1px solid #ff6700;
  color: #ff6700;
}

.site-header .container .header-nav .nav-list .nav-item:hover .item-children {
  display: block;
  z-index: 25;
}

.site-header .container .header-nav .nav-list .nav-item:hover .link span {
  color: #ff6700;
}

.site-header .container .header-nav .nav-list-nochild {
  list-style: none;
  float: left;
  height: 88px;
  padding: 12px 0 0 0;
  margin: 0;
  font-size: 16px;
}

.site-header .container .header-nav .nav-list-nochild .nav-item {
  float: left;
}

.site-header .container .header-nav .nav-list-nochild .nav-item .link {
  display: block;
  padding: 26px 10px 38px;
  color: #333;
}

.site-header .container .header-nav .nav-list-nochild .nav-item:hover .link span {
  color: #ff6700;
}

.site-header .container .header-search {
  float: right;
  width: 296px;
  margin-top: 25px;
  height: 100px;
  position: relative;
}

.site-header .container .header-search .search-form .search-text {
  position: absolute;
  right: 52px;
  width: 223px;
  height: 48px;
  line-height: 48px;
  border: 1px solid #e0e0e0;
  padding: 0 10px;
}

.site-header .container .header-search .search-form .search-btn {
  width: 52px;
  height: 50px;
  position: absolute;
  right: 0;
  background: #fff;
  border: 1px solid #e0e0e0;
}

.site-header .container .header-search .search-form .search-btn:hover {
  background-color: #ff6700;
  border-color: #ff6700;
  color: #fff;
}

.site-header .container .header-search .search-form:hover .search-text {
  border-color: #b0b0b0;
}

.site-header .container .header-search .search-form:hover .search-btn {
  border-color: #b0b0b0;
}

.site-header .container .header-search .search-form:focus-within .search-text {
  border-color: #ff6700;
  outline: 0;
}

.site-header .container .header-search .search-form:focus-within .search-btn {
  border-color: #ff6700;
  outline: 0;
}

.home-hero-container {
  position: relative;
}

.home-hero-container .home-hero {
  margin-bottom: 26px;
  position: relative;
}

.home-hero-container .home-hero .nav-category {
  position: relative;
  padding-right: 15px;
  display: block;
}

.home-hero-container .home-hero .nav-category .link-category {
  visibility: hidden;
}

.home-hero-container .home-hero .nav-category .site-category {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 21;
  width: 234px;
  height: 460px;
  font-size: 14px;
}

.home-hero-container .home-hero .nav-category .site-category .site-category-list {
  margin: 0;
  padding: 20px 0;
  list-style-type: none;
  height: 420px;
  border: 0;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
}

.home-hero-container .home-hero .nav-category .site-category .site-category-list .category-item .title {
  position: relative;
  display: block;
  padding-left: 30px;
  height: 42px;
  line-height: 42px;
  color: #fff;
}

.home-hero-container .home-hero .nav-category .site-category .site-category-list .category-item .title i {
  position: absolute;
  top: 12px;
  right: 20px;
  font-size: 16px;
  line-height: 16px;
  color: #e0e0e0;
}

.home-hero-container .home-hero .nav-category .site-category .site-category-list .category-item .children {
  display: none;
  position: absolute;
  left: 234px;
  top: 0;
  z-index: 24;
  height: 458px;
  border: 1px solid #e0e0e0;
  border-left: 0;
  background: #fff;
  -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18);
}

.home-hero-container .home-hero .nav-category .site-category .site-category-list .category-item .children .children-list {
  list-style: none;
  height: 458px;
  margin: 0;
  padding: 2px 0;
}

.home-hero-container .home-hero .nav-category .site-category .site-category-list .category-item .children .children-list .link {
  display: block;
  padding: 18px 20px;
  line-height: 40px;
}

.home-hero-container .home-hero .nav-category .site-category .site-category-list .category-item .children .children-list .link .thumb {
  vertical-align: middle;
  margin-right: 12px;
}

.home-hero-container .home-hero .nav-category .site-category .site-category-list .category-item .children .children-list li {
  position: relative;
  float: left;
  width: 265px;
  height: 76px;
}

.home-hero-container .home-hero .nav-category .site-category .site-category-list .category-item .children .children-list li span.text {
  color: #333;
}

.home-hero-container .home-hero .nav-category .site-category .site-category-list .category-item .children .children-list-col {
  float: left;
  /* border: 1px solid #000; */
  width: 248px;
}

.home-hero-container .home-hero .nav-category .site-category .site-category-list .category-item:hover .title {
  background-color: #ff6700;
  color: #fff;
}

.home-hero-container .home-hero .nav-category .site-category .site-category-list .category-item:hover .children {
  display: block;
}

.home-hero-container .home-hero .nav-category .site-category .site-category-list .category-item .children-col-1 {
  width: 265px;
}

.home-hero-container .home-hero .nav-category .site-category .site-category-list .category-item .children-col-2 {
  width: 530px;
}

.home-hero-container .home-hero .nav-category .site-category .site-category-list .category-item .children-col-3 {
  width: 795px;
}

.home-hero-container .home-hero .nav-category .site-category .site-category-list .category-item .children-col-4 {
  width: 992px;
}

.home-hero-container .home-hero .home-hero-slider {
  margin: auto;
  height: 460px;
  position: relative;
  overflow: hidden;
  /* 左箭头 */
  /* 右箭头 */
}

.home-hero-container .home-hero .home-hero-slider input {
  display: none;
}

.home-hero-container .home-hero .home-hero-slider input:checked + img {
  opacity: 1;
}

.home-hero-container .home-hero .home-hero-slider img {
  opacity: 0;
  width: 100%;
  margin: auto;
  position: absolute;
  /* top: 10%; */
  /* left: 10% */
  transition: opacity 2s;
}

.home-hero-container .home-hero .home-hero-slider .indicators {
  position: absolute;
  top: 90%;
  left: 90%;
  z-index: 15;
}

.home-hero-container .home-hero .home-hero-slider .indicators label {
  width: 5px;
  height: 5px;
  margin-right: 5px;
  display: inline-block;
  border: 1px solid gray;
  border-radius: 50%;
  background-color: gray;
}

.home-hero-container .home-hero .home-hero-slider .indicators label:hover {
  background-color: gainsboro;
}

.home-hero-container .home-hero .home-hero-slider .control label {
  position: absolute;
  top: 50%;
  z-index: 10;
  width: 40px;
  height: 69px;
  margin-top: -35px;
  text-indent: -9999px;
  overflow: hidden;
  _zoom: 1;
  outline: 0;
  color: #757575;
}

.home-hero-container .home-hero .home-hero-slider .prev label {
  background: url(../image/icon-slides.png) no-repeat;
  left: 234px;
  background-position: -83px;
}

.home-hero-container .home-hero .home-hero-slider .prev label:hover {
  background-position: 0;
}

.home-hero-container .home-hero .home-hero-slider .next label {
  right: 0;
  background: url(../image/icon-slides.png) no-repeat;
  background-position: -124px;
}

.home-hero-container .home-hero .home-hero-slider .next label:hover {
  background-position: -41px;
}

.home-hero-container .home-hero .home-hero-slider input:nth-of-type(1):checked ~ .indicators > label:nth-of-type(1),
.home-hero-container .home-hero .home-hero-slider input:nth-of-type(2):checked ~ .indicators > label:nth-of-type(2),
.home-hero-container .home-hero .home-hero-slider input:nth-of-type(3):checked ~ .indicators > label:nth-of-type(3),
.home-hero-container .home-hero .home-hero-slider input:nth-of-type(4):checked ~ .indicators > label:nth-of-type(4),
.home-hero-container .home-hero .home-hero-slider input:nth-of-type(5):checked ~ .indicators > label:nth-of-type(5) {
  background-color: rgba(255, 255, 255, 0);
}

.home-hero-container .home-hero .home-hero-slider input:nth-of-type(1):checked ~ .prev > label:nth-of-type(5),
.home-hero-container .home-hero .home-hero-slider input:nth-of-type(2):checked ~ .prev > label:nth-of-type(1),
.home-hero-container .home-hero .home-hero-slider input:nth-of-type(3):checked ~ .prev > label:nth-of-type(2),
.home-hero-container .home-hero .home-hero-slider input:nth-of-type(4):checked ~ .prev > label:nth-of-type(3),
.home-hero-container .home-hero .home-hero-slider input:nth-of-type(5):checked ~ .prev > label:nth-of-type(4) {
  z-index: 15;
}

.home-hero-container .home-hero .home-hero-slider input:nth-of-type(1):checked ~ .next > label:nth-of-type(2),
.home-hero-container .home-hero .home-hero-slider input:nth-of-type(2):checked ~ .next > label:nth-of-type(3),
.home-hero-container .home-hero .home-hero-slider input:nth-of-type(3):checked ~ .next > label:nth-of-type(4),
.home-hero-container .home-hero .home-hero-slider input:nth-of-type(4):checked ~ .next > label:nth-of-type(5),
.home-hero-container .home-hero .home-hero-slider input:nth-of-type(5):checked ~ .next > label:nth-of-type(1) {
  z-index: 15;
}

.home-hero-container .home-hero .home-hero-sub {
  margin-top: 14px;
}

.home-hero-container .home-hero .home-hero-sub .span4 .home-channel-list {
  background-color: #5f5750;
  list-style-type: none;
  font-size: 12px;
  text-align: center;
  padding: 3px;
  margin: 0;
}

.home-hero-container .home-hero .home-hero-sub .span4 .home-channel-list li {
  position: relative;
  float: left;
  width: 70px;
  height: 82px;
  /* border: 1px solid #000; */
  padding: 0 3px;
  color: rgba(255, 255, 255, 0.7);
}

.home-hero-container .home-hero .home-hero-sub .span4 .home-channel-list li a {
  display: block;
  padding-top: 18px;
  color: inherit;
}

.home-hero-container .home-hero .home-hero-sub .span4 .home-channel-list li a i {
  display: block;
  height: 24px;
  line-height: 24px;
  font-size: 24px;
  margin-bottom: 4px;
}

.home-hero-container .home-hero .home-hero-sub .span4 .home-channel-list li:hover {
  color: #fff;
}

.home-hero-container .home-hero .home-hero-sub .span4 .home-channel-list .row-line::before {
  content: "";
  position: absolute;
  width: 64px;
  height: 1px;
  background-color: #665e57;
  top: 82px;
  left: 9px;
}

.home-hero-container .home-hero .home-hero-sub .span4 .home-channel-list .col-line::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 70px;
  background-color: #665e57;
  top: 6px;
  left: 78px;
}

.home-hero-container .home-hero .home-hero-sub .span16 {
  width: 978px;
  margin-left: 14px;
  float: left;
}

.home-hero-container .home-hero .home-hero-sub .span16 .home-promo-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.home-hero-container .home-hero .home-hero-sub .span16 .home-promo-list li {
  float: left;
  margin-left: 15px;
}

.home-hero-container .home-hero .home-hero-sub .span16 .home-promo-list li a {
  display: block;
  height: 170px;
}

.home-hero-container .home-hero .home-hero-sub .span16 .home-promo-list li a img {
  width: 316px;
  height: 170px;
}

.home-hero-container .home-hero .home-hero-sub .span16 .home-promo-list li.first {
  margin-left: 0;
}

.home-banner-box {
  height: 120px;
  margin: 2px 0 42px;
}

.home-banner-box a img {
  width: 1226px;
}

.page-main {
  background: #f5f5f5;
  padding-top: 22px;
}

.page-main .container .home-brick-box {
  height: 686px;
  margin-bottom: 8px;
}

.page-main .container .home-brick-box .box-hd {
  position: relative;
  height: 58px;
}

.page-main .container .home-brick-box .box-hd .title {
  margin: 0;
  font-size: 22px;
  font-weight: 200;
  line-height: 58px;
  color: #333;
}

.page-main .container .home-brick-box .box-hd .more {
  position: absolute;
  top: 0;
  right: 0;
}

.page-main .container .home-brick-box .box-hd .more .more-link {
  font-size: 16px;
  line-height: 58px;
  color: #424242;
  transition: all .4s;
}

.page-main .container .home-brick-box .box-hd .more .more-link .iconfont {
  padding: 4px;
  margin-left: 8px;
  font-size: 16px;
  line-height: 58px;
  vertical-align: 1px;
}

.page-main .container .home-brick-box .box-hd .more .more-link:hover {
  color: #ff6700;
}

.page-main .container .home-brick-box .box-bd .row .brick-item-1 {
  transition: all .6s;
}

.page-main .container .home-brick-box .box-bd .row .brick-item-1:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  transform: translate3d(0, -2px, 0);
}

.page-main .container .home-brick-box .box-bd .row .brick-item-1 a {
  height: 614px;
  width: 100%;
  display: block;
}

.page-main .container .home-brick-box .box-bd .row .brick-item-1 a img {
  width: 100%;
  height: 614px;
}

.page-main .container .home-brick-box .box-bd .row .span16 {
  margin-left: 14px;
}

.page-main .container .home-brick-box .box-bd .row .span16 .brick-list {
  margin: 0 0 -14px -18px;
  padding: 0;
  width: 992px;
  height: 614px;
  list-style-type: none;
}

.page-main .container .home-brick-box .box-bd .row .span16 .brick-list .brick-item-m {
  background-color: #fff;
  position: relative;
  float: left;
  width: 234px;
  height: 260px;
  margin-left: 14px;
  margin-bottom: 14px;
  padding: 20px 0;
  transition: all .6s;
}

.page-main .container .home-brick-box .box-bd .row .span16 .brick-list .brick-item-m:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  transform: translate3d(0, -2px, 0);
}

.page-main .container .home-brick-box .box-bd .row .span16 .brick-list .brick-item-m .figure-img {
  margin: 0 auto 18px;
  width: 160px;
  height: 160px;
}

.page-main .container .home-brick-box .box-bd .row .span16 .brick-list .brick-item-m .figure-img img {
  width: 160px;
  height: 160px;
}

.page-main .container .home-brick-box .box-bd .row .span16 .brick-list .brick-item-m .title {
  text-align: center;
  margin: 0 10px 2px;
  font-size: 14px;
  font-weight: 400;
}

.page-main .container .home-brick-box .box-bd .row .span16 .brick-list .brick-item-m .desc {
  text-align: center;
  font-size: 12px;
  height: 18px;
  margin: 0 10px 10px;
  height: 18px;
  color: #b0b0b0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.page-main .container .home-brick-box .box-bd .row .span16 .brick-list .brick-item-m .price {
  text-align: center;
  color: #ff6700;
  margin: 0 10px 14px;
}

.page-main .container .home-brick-box .box-bd .row .span16 .brick-list .brick-item-m .flag {
  position: absolute;
  top: 0;
  left: 50%;
  width: 64px;
  height: 20px;
  transform: translateX(-50%);
  color: #fff;
  font-size: 12px;
  text-align: center;
}

.page-main .container .home-brick-box .box-bd .row .span16 .brick-list .brick-item-m .flag-new {
  background-color: #83c44e;
}

.page-main .container .home-brick-box .box-bd .row .span16 .brick-list .brick-item-m .flag-saleoff {
  background-color: #e53935;
}

.page-main .container .home-banner-box-brick {
  margin: 28px 0 22px;
}

.page-main .container .home-brick-col-2 {
  position: relative;
}

.page-main .container .home-brick-col-2 .row .span4 {
  height: 672px;
}

.page-main .container .home-brick-col-2 .row .span4 .box-hd {
  height: 58px;
}

.page-main .container .home-brick-col-2 .row .span4 .box-hd .title {
  margin: 0;
  font-size: 22px;
  font-weight: 200;
  line-height: 58px;
  color: #333;
}

.page-main .container .home-brick-col-2 .row .span4 ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.page-main .container .home-brick-col-2 .row .span4 ul li {
  margin: 0;
  width: 234px;
  height: 300px;
  margin-bottom: 14px;
  transition: all .6s;
}

.page-main .container .home-brick-col-2 .row .span4 ul li:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  transform: translate3d(0, -2px, 0);
}

.page-main .container .home-brick-col-2 .row .span4 ul li a {
  display: block;
  width: 100%;
  height: 100%;
}

.page-main .container .home-brick-col-2 .row .span4 ul li a img {
  height: 300px;
  width: 234px;
}

.page-main .container .home-brick-col-2 .row .span16 {
  margin-left: 10px;
  height: 672px;
  margin-left: 14px;
  position: relative;
}

.page-main .container .home-brick-col-2 .row .span16 .more {
  position: absolute;
  top: 0;
  right: 0;
  height: 58px;
}

.page-main .container .home-brick-col-2 .row .span16 .more .tab-list {
  margin-top: 16px;
  padding: 0;
  list-style-type: none;
  font-size: 16px;
}

.page-main .container .home-brick-col-2 .row .span16 .more .tab-list .tab-hide ul {
  display: none;
}

.page-main .container .home-brick-col-2 .row .span16 .more .tab-list .tab-active {
  color: #ff6700;
  border-bottom: 2px solid #ff6700;
}

.page-main .container .home-brick-col-2 .row .span16 .more .tab-list .tab-active ul {
  display: block;
}

.page-main .container .home-brick-col-2 .row .span16 .more .tab-list .default ul {
  display: block;
}

.page-main .container .home-brick-col-2 .row .span16 .more .tab-list li {
  display: inline-block;
  margin: 0 0 0 30px;
}

.page-main .container .home-brick-col-2 .row .span16 .more .tab-list li .brick-list {
  position: absolute;
  top: 100%;
  right: 0;
  width: 992px;
  height: 614px;
  padding: 0;
  margin: 0 0 -14px -14px;
}

.page-main .container .home-brick-col-2 .row .span16 .more .tab-list li .brick-list .brick-item {
  position: relative;
  margin-left: 14px;
  margin-bottom: 14px;
  width: 234px;
  transition: all .6s;
}

.page-main .container .home-brick-col-2 .row .span16 .more .tab-list li .brick-list .brick-item:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  transform: translate3d(0, -2px, 0);
}

.page-main .container .home-brick-col-2 .row .span16 .more .tab-list li .brick-list .brick-item:hover .review-wrapper {
  height: 76px;
  opacity: 1;
}

.page-main .container .home-brick-col-2 .row .span16 .more .tab-list li .brick-list .brick-item-m {
  background-color: #fff;
  position: relative;
  float: left;
  width: 234px;
  height: 260px;
  margin-left: 14px;
  margin-bottom: 14px;
  padding: 20px 0;
  transition: all .6s;
}

.page-main .container .home-brick-col-2 .row .span16 .more .tab-list li .brick-list .brick-item-m .figure-img {
  margin: 0 auto 18px;
  width: 160px;
  height: 160px;
}

.page-main .container .home-brick-col-2 .row .span16 .more .tab-list li .brick-list .brick-item-m .figure-img img {
  width: 160px;
  height: 160px;
}

.page-main .container .home-brick-col-2 .row .span16 .more .tab-list li .brick-list .brick-item-m .title {
  text-align: center;
  margin: 0 10px 2px;
  font-size: 14px;
  font-weight: 400;
}

.page-main .container .home-brick-col-2 .row .span16 .more .tab-list li .brick-list .brick-item-m .title a {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.page-main .container .home-brick-col-2 .row .span16 .more .tab-list li .brick-list .brick-item-m .desc {
  text-align: center;
  font-size: 12px;
  height: 18px;
  margin: 0 10px 10px;
  height: 18px;
  color: #b0b0b0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.page-main .container .home-brick-col-2 .row .span16 .more .tab-list li .brick-list .brick-item-m .price {
  text-align: center;
  color: #ff6700;
  margin: 0 10px 14px;
}

.page-main .container .home-brick-col-2 .row .span16 .more .tab-list li .brick-list .brick-item-m .price del {
  color: #b0b0b0;
}

.page-main .container .home-brick-col-2 .row .span16 .more .tab-list li .brick-list .brick-item-m .flag {
  position: absolute;
  top: 0;
  left: 50%;
  width: 64px;
  height: 20px;
  transform: translateX(-50%);
  color: #fff;
  font-size: 12px;
  text-align: center;
}

.page-main .container .home-brick-col-2 .row .span16 .more .tab-list li .brick-list .brick-item-m .flag-new {
  background-color: #83c44e;
}

.page-main .container .home-brick-col-2 .row .span16 .more .tab-list li .brick-list .brick-item-m .flag-saleoff {
  background-color: #e53935;
}

.page-main .container .home-brick-col-2 .row .span16 .more .tab-list li .brick-list .brick-item-m .review-wrapper {
  height: 0;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  font-size: 12px;
  background: #ff6700;
  opacity: 0;
  transition: all .6s;
}

.page-main .container .home-brick-col-2 .row .span16 .more .tab-list li .brick-list .brick-item-m .review-wrapper a {
  display: block;
  padding: 8px 30px;
  outline: 0;
}

.page-main .container .home-brick-col-2 .row .span16 .more .tab-list li .brick-list .brick-item-m .review-wrapper .review {
  margin-bottom: 5px;
  color: #fff;
}

.page-main .container .home-brick-col-2 .row .span16 .more .tab-list li .brick-list .brick-item-m .review-wrapper .author {
  color: #fff;
  color: rgba(255, 255, 255, 0.6);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.page-main .container .home-brick-col-2 .row .span16 .more .tab-list li .brick-list .brick-item-s {
  height: 93px;
  padding-top: 50px;
  background-color: #fff;
}

.page-main .container .home-brick-col-2 .row .span16 .more .tab-list li .brick-list .brick-item-s .figure-img {
  position: absolute;
  right: 20px;
  top: 32px;
  width: 80px;
  height: 80px;
}

.page-main .container .home-brick-col-2 .row .span16 .more .tab-list li .brick-list .brick-item-s .figure-more {
  position: absolute;
  right: 35px;
  top: 48px;
  width: 48px;
  height: 48px;
}

.page-main .container .home-brick-col-2 .row .span16 .more .tab-list li .brick-list .brick-item-s .figure-more a {
  display: block;
  color: #ff6700;
}

.page-main .container .home-brick-col-2 .row .span16 .more .tab-list li .brick-list .brick-item-s .figure-more a i {
  font-size: 48px;
  line-height: 48px;
}

.page-main .container .home-brick-col-2 .row .span16 .more .tab-list li .brick-list .brick-item-s .title {
  margin: -10px 110px 5px 30px;
  font-size: 14px;
  font-weight: 400;
}

.page-main .container .home-brick-col-2 .row .span16 .more .tab-list li .brick-list .brick-item-s .title a {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.page-main .container .home-brick-col-2 .row .span16 .more .tab-list li .brick-list .brick-item-s .price {
  margin: 0 110px 0 30px;
  font-size: 12px;
  color: #ff6700;
}

.page-main .container .home-brick-col-2 .row .span16 .more .tab-list li .brick-list .brick-item-s .more-2 {
  display: block;
  margin: 0 110px 0 30px;
  font-size: 18px;
  color: #333;
}

.page-main .container .home-brick-col-2 .row .span16 .more .tab-list li .brick-list .brick-item-s .more-2 small {
  display: block;
  font-size: 12px;
  color: #757575;
}
